.list-group-item {
  .form-check-input {
    &:checked {
      background-color: $black;
      border-color: $black;
    }
    &:focus {
      border-color: rgba($black, .25);
    }
  }
  .form-select {
    background-position: right 0.5rem center;
  }
}

.list-group-horizontal {
  > .list-group-item {
    position: relative;
    flex: 1;
    + .list-group-item::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: -1px;
      width: 2px;
      height: calc(100% - 40px);
      background-color: $white;
      transform: translateY(-50%);
    }
  }
}
