.navbar {
  img {
    width: 85px;
    @include media-breakpoint-up(lg) {
      width: auto;
      height: 40px;
    }
  }
  form {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $light;
    @include media-breakpoint-up(lg) {
      position: static;
    }
  }
  input[type='search'] {
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: 288px;
    }
  }
}

.navbar-nav {
  @include media-breakpoint-up(lg) {
    height: 100%;
  }
  .nav-link {
    font-weight: bold;
  }
}

.navbar-collapse {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 1px;
  background-color: $white;
  z-index: 1;
  @include media-breakpoint-up(lg) {
    position: static;
    background-color: transparent;
  }
  .btn-primary {
    --bs-btn-color: #{$white};
    --bs-btn-font-size: 1.125rem;
  }
}
